.my-tbl tr > * {
  border-bottom: 1px solid;
}

.my-tbl th {
  padding: 0 0.5em;
}

.my-tbl td {
  padding: 0 0.5em;
}

.my-tbl tr > *:first-child {
  border-right: 1px solid;
}
.my-tbl tr > *:last-child {
  border-left: 1px solid;
}
